@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background: #fff;
  --color: #000000;
}


.content{
  @apply sm:px-12 md:px-28 lg:px-64 px-4 py-5 md:py-8;
}